.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.chatWrapper {
  width: 260px;
  /* height: 500px; */
  border: 1px solid #424242;
  border-radius: 24px;

}

.chat {
    padding: 24px;
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 100%;
}

.chatHeading {
font-size: 24px;
line-height: 1;
margin: 0;
}


input{
  border: 1px solid black;   
  border-radius: 24px;
  /* height: 40px; */
  width: 100%;
  outline: none;
  font-size: 20px;
  /* padding-top: 20px; */
}


.bot{
  background-color: #eaecf0;
  color: black;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  padding: 24px;
  padding-left: 25px;
  max-width: 280px;
}

.user{
  background-color: #36c;
  color: white;
  border-radius: 10px; 
  text-align: right;
  margin-top: 10px;
  padding: 24px;
  padding-right: 24px;
  max-width: 280px;
  margin-left: auto;
  margin-right: 0;
}

.conversationHistory{
    /* height: 400px; */
    overflow: scroll;
    min-height: 300px;
    max-height: 300px;
}